<form>
    {{ person | json }}
    <input name="name" placeholder="Name" [(ngModel)]="person.name" matInput>
    <!-- <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
    </mat-form-field> -->
    <mat-form-field appearance="fill">
        <mat-label>Phone</mat-label>
        <input name="phone" placeholder="Phone" [(ngModel)]="person.phone" matInput>
    </mat-form-field>
    <button class="bg-fuchsia-500 hover:bg-fuchsia-600 text-white font-bold p-3 rounded-lg" (click)="submit()" type="submit" color="primary" mat-button>Click</button>
    
</form>

<div class="grid lg:grid-cols-3 bg-slate-50 p-2">
    <div class=" bg-white m-2 text-center sm:text-left items-center p-6 shadow-lg rounded-lg max-w-sm">
        <h1 class="text-2xl">Chat</h1>
        <p class="text-slate-500">You have 2 new messages!</p>
    </div>
    <div class=" bg-white m-2 text-center sm:text-left items-center p-6 shadow-lg rounded-lg max-w-sm">
        <h1 class="text-2xl">Chat</h1>
        <p class="text-slate-500">You have 2 new messages!</p>
    </div>
    <div class=" bg-white m-2 text-center sm:text-left items-center p-6 shadow-lg rounded-lg max-w-sm">
        <h1 class="text-2xl">Chat</h1>
        <p class="text-slate-500">You have 2 new messages!</p>
    </div>
</div>